.empty-filter-state {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  min-width: 0;
  padding-top: 40px;
}

.empty-filter-state-image {
  max-width: 390px;
  width: 100%;
  height: auto;
}
