.fact-key {
  display: flex;
  align-items: baseline;
  margin-top: 25px;
  margin-left: 30px;
}

.fact-key-item {
  display: flex;
  align-items: end;
  gap: 4px;
}

.fact-key-item.myth-item {
  margin-right: 15px;
}

.fact-key-icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

.fact-key-icon.myth-icon {
  color: #FF5353;
}

.fact-key-icon.truth-icon {
  color: #6FCF97;
}

.fact-key-text {
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  padding-top: 3px;
  color: #878787;
}
